body {
    background-image: url("nature.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    margin: 0;
    padding: 0;
}

.containerr {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
     border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(255, 255, 255, 0.02);
}

form{
    align-items: center;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 20px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 75%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-size: 17px;
    background-color: #ffffff5d;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(218,226,248);
    background: linear-gradient(90deg, rgba(218,226,248,1) 0%, rgba(214,164,160,1) 100%);

}
input[type="submit"]{
    font-weight: bold;
    width: 50%;
}
